
.center-container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh; 
  }
  .login{
    display: flex;
    justify-content: center;
  }
  .login h2{
    align-items: center;
    display: flex;
    justify-content: center;
  }
.login-container {
    background-color: #fff;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
    width: 100%;
    max-width: 400px;
    margin: 0 auto;
  }
  
  .form-group {
    margin-bottom: 20px;
  }
  
  label {
    display: block;
    font-weight: bold;
  }
  
  input[type="email"],
  input[type="password"] {
    width: 90%;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 4px;
    font-size: 16px;
  }
  
  button {
    background-color: #007BFF;
    color: #fff;
    border: none;
    border-radius: 4px;
    padding: 10px 20px;
    font-size: 16px;
    cursor: pointer;
  }
  .loginsignup{
    justify-content: space-around;
    display: flex;


  }
  